---
---

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.cv.person.name }}'s CV</title>
  <meta name="author" content="{{ site.cv.name }}" />
  <meta name="description" content="{{ site.cv.name }}'s CV" />
  <link rel="shortcut icon" href="favicon.ico">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet"  type='text/css'>
  <link href="cv.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="all" />

</head>

<body>
  <img src="cv-background.jpg" id="fullscreen">
  
  <div class="container">
    <!-- Header section -->
    <div class="row header bg-gray">
      <div class="col-md-2 text-center">
        <img src="{{ site.cv.person.depiction }}" height="130px" width="130px" alt="{{ site.cv.person.name }}'s Photo" class="img-rounded" style="border: solid black;">
      </div>  
      <div class="col-xs-4">
        <h1 class="name">{{ site.cv.person.name }}</h1>
        <span class="profession">{{ site.cv.person.profession }}</span>
      </div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3">
        <ul class="list-unstyled">
          {% if site.cv.person.location %}
            <li><i class="fas fa-map-marker-alt"></i>Based in {{site.cv.person.location}}</li>
          {% endif %}
          {% for item in site.cv.person.contacts %}
            {% if item.link %}
              <li><i class="{{item.icon}}"></i><a href="{{item.link}}">{{item.name}}</a>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Career section -->
    <div class="row  section section-border">
      <div class="col-xs-3">
        <h2>Career</h2>
      </div>
      <div class="col-xs-9">
        {% for item in site.cv.career %}
          <div class="jd">
            <div class="row">
              <div class="col-xs-6">
                <h4><b>{{ item.position }}</b> at {{item.company}}</h4> 
              </div>
              <div class="col-xs-6 pull-right">
                <h5 class="pull-right"><i class="far fa-calendar-alt"></i> {{ item.dates }}<br/>
                <i class="fas fa-map-marker-alt"></i> {{item.location}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p>{{ item.summary }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                {% if item.accomplishments.size > 0 %}
                  <b>Selected accomplishments:</b>
                {% endif %}
                <ul>
                  {% for itemm in item.accomplishments %}
                    <li>{{itemm.accomplishment}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Education section -->
    <div class="row section section-border">
      <div class="col-xs-3"><h2>Education</h2></div>
      <div class="col-xs-9">
        {% for item in site.cv.education %}
          <div class="jd">
            <div class="row">
              <div class="col-xs-12"><h4><b>{{item.name}}</b> at {{item.school}}</h4></div>
              <div class="col-xs-12"><i class="far fa-calendar-alt"></i> {{item.dates}}</br> <i class="fas fa-map-marker-alt"></i> {{item.location}}</div>
              {% if item.mark %}
                <div class="col-xs-12"><i class="fas fa-graduation-cap"></i> <b>Obtained mark:</b> {{item.mark}}</div>
              {% endif %}
              </br>
              <div class="col-xs-12">{{item.description}}</div>
              </br>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Further Education section -->
    <div class="row  section section-border">
      <div class="col-xs-3">
        <h2>Further Education</h2>
      </div>
      <div class="col-xs-9">
        {% for item in site.cv.furtherEducation %}
          <div class="jd">
            <div class="row">
              <div class="col-xs-6">
                <h4><b>{{ item.name }}</b></h4> 
              </div>
              <div class="col-xs-6 pull-right">
                <h5 class="pull-right"><i class="far fa-calendar-alt"></i> {{ item.dates }}<br/></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p>{{ item.description }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                {% if item.accomplishments.size > 0 %}
                  <b>Main takeaways:</b>
                {% endif %}
                <ul>
                  {% for itemm in item.accomplishments %}
                    <li>{{itemm.accomplishment}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


    <!-- Technical Knowledge section -->
    <div class="row section section-border pagebreakishere">
      <div class="col-xs-3">
        <h2>Technical knowledge</h2>
      </div>
      <div class="col-xs-9">
        {% for item in site.cv.knowledge %}
          <div>
            <h4><i class="{{item.icon}}"></i> {{item.name}}</h4>
            {% for itemm in item.list %}
              <p class="skill">{{itemm.tr}}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Side Projects section -->
    <div class="row  section section-border">
      <div class="col-xs-3"><h2>Projects</h2></div>
      <div class="col-xs-9">
        {% for item in site.cv.sideProjects %}
          <div class="jd">
            <div class="row side-project">
              <div class="col-xs-5">
                <h4><a href="{{item.link}}">{{item.name}}</a></h4>
                <h5><i class="far fa-calendar-alt"></i> {{ item.dates }}</h5>
              </div>
              <div class="col-xs-7">{{item.description}}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


    <!-- Languages section -->
    <div class="row section section-border">
      <div class="col-xs-3"><h2>Languages</h2></div>
      <div class="col-xs-9">
        {% for item in site.cv.languages %}
          <div class="jd">
            <div class="row">
              <h4>{{item.language}}</h4>
              <h5><b>Level:</b> {{item.level}}</h5>
              {% if item.certification %}
                <h5><b>Certification:</b> {{item.certification}}</h5>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    
    <!-- Hobbies section -->
    <div class="row section section-border">
      <div class="col-xs-3"><h2>Hobbies</h2></div>
      <div class="col-xs-9">
        {% for item in site.cv.hobbies %}
          <div class="jd">
            <div class="row">
              <h4><i class="{{item.icon}}"></i> {{item.name}}</h4>
              {% if item.content.name == "Luca Bello on Spotify" %}
                <h5><b>A (not so) random reference:</b> <a href="{{item.content.link}}">{{item.content.name}}</a>
              {% else %}
                <h5><b>A random reference:</b> <a href="{{item.content.link}}">{{item.content.name}}</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

</body>

</html>
